html, body {
  font-family: 'Montserrat', sans-serif;
  background: black;
  margin: 0;
  padding: 0;
}

header {
  color: #F6F7EE;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #1D1E19;
  padding: 16px;
}

nav {
  width: 25%;
  margin: 20px auto;
  color: #BBB;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

nav p {
  color: #F6F7EE;
  text-align: center;
}

h1 {
  font-size: 48px;
  font-weight: 700;
  margin: 0;
}

h2 {
  font-size: 28px;
  margin: 20px 0 16px 0;
}

h3 {
  font-size: 24px;
  margin: 16px 0 12px 0;
}

p {
  margin: 12px 0;
}

a {
  color: #99A7EE;
  transition-duration: 0.1s;
  text-decoration: none;
}

a:hover {
  color: white;
}

#md {
  width: 80%;
  margin: auto;
  background: #1D1E19;
  border-radius: 4px;
  color: white;
  display: none;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  padding: 40px 50px;
}

#md h1, #md h2 {
  border-bottom: 1px solid #333;
  padding-bottom: 4px;
}

#md code, #md pre {
  background: #333;
  padding: 2px
  border-radius: 2px;
}

#md pre {
  padding: 4px 8px;
}

#md blockquote {
  border-left: 4px solid #333;
  margin-left: 0;
  padding-left: 24px;
  color: #BBB;
}